@charset "utf-8";
.imgContainer .buttonContainer{
	height:110px;	width:180px;
	border: 1px solid red;
  display: none;
}

.imgContainer:HOVER .buttonContainer {
	
	position: absolute;
	border: 1px solid blue;
  display: inline;
}

.buttonContainer span {
  padding: 39px 72px; font-size:35px; cursor:pointer;
}