@charset "utf-8";

#featured_slide {
   display: block;
   width: 1024px;
   height: 380px;
   margin: 0 auto;
   padding: 0;
   font-size: 12px;
}

#slider button {
	
}
/* 리스트 슬라이더 tag */

#list_tag{
	margin: 0 auto;
	padding-left: 20px;
	margin-top: 10px;
}
.tag {
	 font-family: 나눔바른고딕, NanumBarunGothic, 'NanumBarunGothic', '나눔바른고딕', '돋움', Dotum, 'Apple SD Gothic Neo', sans-serif;
  /* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
	position: relative;
	margin-left: 20px;
	text-align: center;
	opacity: 1;
	background-color: ;
	cursor: pointer;
	border: 0px none;
	background-color: transparent;
  text-decoration: none;
  font-size: 14px;	
  color: black;
  padding: 1px;
}
.tag:HOVER {
  font-weight: bold;
}
input:FOCUS {
	
}

/* ----------------------------------------------Main Category Slider------------------------------------- */
#slider .sliderimage , #slider .sliderimage {
   position: absolute;
   width: 1024px;
   height: 480px;
}

#slider .sliderimage{
   display: block;
   /* overflow: hidden; */
   margin: 0 auto;
   padding: 0 6px;
   list-style: none;
}

.liCon_1 {
   float: left;
   position: absolute;
   top: 0;
   width: 980px;
   height: 420px;
   margin-top: 5px;
   color: #9FA4AA; 
   border: none;
      
}
/* #slider li {
   position: absolute;
   top: 0;
   width: 1024px;
   height: 420px;
   margin-top: 5px;
   color: #9FA4AA; 
   border: none;
} */

.liCon_2 {
	 margin: 0 7px;
	 margin-top: 5px;
   color: #9FA4AA; 
   border: none;
   float: left;
   position: relative;
   top: 0;
   width: 180px;
   height: 180px;
}

#slider li img, #slider li h2, #slider li p {
   margin: 0;
   padding: 0;
   font-weight: normal;
   line-height: normal;
}

#slider li img {
   border: 2px solid lightgray;
}




#slider li h2 {
   margin-bottom: 10px;
   padding-bottom: 10px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   color: #ACACAC;
   background-color: #2B2B2B;
   border-bottom: 1px solid #464646;
}

#slider li p {
   line-height: 1.6em;
}

#slider li p.readmore {
  text-align: left;
	width: 155px;
	position: absolute;
  margin: 0;
}

#slider li p.readmore a {
	font-family: 나눔바른고딕, NanumBarunGothic, 'NanumBarunGothic', '나눔바른고딕', '돋움', Dotum, 'Apple SD Gothic Neo', sans-serif;
   /* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
   /* font-weight: bold; */
   color: black; /* background-color:#2B2B2B; */
   text-decoration: none;
}

#slider li a img {
   float: left;
}

#ulCountId-0 {right: 0; opacity: 1;}
#ulCountId-10 {opacity: 0;}
#ulCountId-20 {opacity: 0;}

#liCountId-0 {
   float: left;
   position: relative;
   top: 0;
   width: 980px;
   height: 180px;
   opacity: 1;
}

#liCountId-10 {
   float: left;
   position: relative;
   top: 0;
   width: 1024px;
   height: 180px;
}

#liCountId-20 {
   float: left;
   position: relative;
   top: 0;
   width: 1024px;
   height: 180px;
}
/* ----------------------------------------------Previous & Next Navigation------------------------------------- */
#slider a.next, #slider a.prev {
   position: absolute;
   top: 45%;
   width: 20px;
   height: 30px;
   cursor: pointer;
   outline: none;
   z-index: 0;
   background: lightgray center center no-repeat;
   border: 1px solid #464646;
}

#slider a.next {
   right: 0px;
   background-image: url("images/next.png");
   border-left-color: #2B2B2B;
}

#slider a.prev {
   left: 0px;
   background-image: url("images/prev.png");
   border-right-color: #2B2B2B;
}

#slider a.prev:hover, #slider a.next:hover {
   border-color: #CCCCCC;
}

#slider a.disabled, #slider a.disabled:hover {
   border: #161616; /* Same colour as container background */
   cursor: default;
}