@charset "utf-8";
html{overflow-y:scroll;}
body{margin:0; padding:0;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{display:block; margin:0; padding:0; border:none;}
.imgl, .imgr{border:1px solid #C7C5C8; padding:5px;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}
.col1, .col1 a{color:#666666; background-color:#000000;}
.col2{color:#FFFFFF; background-color:#562051;}
.col3{color:#151515; background-color:#FFFFFF; padding:20px 0;}
.col3 a{color:#A97891; background-color:#151515;}
.col4{color:#999999; background-color:#151515;}
.col4 a{color:#A97891; background-color:#151515;}
.col5{color:#CCCCCC; background-color:#1D1D1D; border-top:1px dotted #E7BCE2; border-bottom:1px dotted #E7BCE2;}
.col5 a{color:#E7BCE2; background-color:#1D1D1D;}
.col6, .col6 a{color:#666666; background-color:#151515;}

/* ----------------------------------------------Generalise------------------------------------- */


#waterwheelCarousel {
	display: block;
	width: 960px;
	height: 350px;
	margin: 0 auto;
	padding: 25px 0 0 0;
	background-color: #FFFFFF;
}

#waterwheelCarousel>img {
  display: none;
	cursor: pointer;
}

div.slider-arrow--right {
  position: relative; 
  bottom: 55%;
  right: 0px;
  background:url(/image/slider/bestdishesrightarrow.png) no-repeat;
}
div.slider-arrow--left {
  position: relative;
  bottom: 55%;
  left: 0px;
  background:url(/image/slider/bestdishesleftarrow.png) no-repeat;
}