@charset "utf-8";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  /* border: 0.1px solid red; */
}
 
body {
}


.scroll {
    overflow: auto;
    position: relative;
    /* padding: 20px; */
    /* background: #333; */
    /* margin: 10px; */
    /* left: 0; */
    /* border: 1px solid red; */
    width: 1060px;
    /* max-width: 97%; */
    height: 685px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer {
	bottom: 0px;
	position:fixed;
	float:left;
	left:0;
	width:100%;
	z-index: 12;
	background-color: white;
}
#footer #ss {
	background-color: white; 
}


#container{padding:30px 0;}
#container a{color:#0BBDB3; background-color:#F9F9F9;}
#content{display:block; float:left; width:630px;}

#containers-background {
  width: 100%;
  margin: 0 auto;
  position: fixed;
}
#containers-background img {
	width: 100%;
	z-index: -5;
}

#containers  {
	/* border: 1px gray solid; */
	padding-top: 57px;
	margin: auto;
	width: 1024px;
	/* background: white url() top center no-repeat; */
	/*background-image: url("../image/background-2.jpg");*/
	color: black;
}

.header {
   position: fixed;
   height: 60px;
   width: 100%;
   /* background: black; */
   /* border-bottom: 1px solid #ddd; */
   z-index:50;
   max-height: 60px;
}

#mainHeader {
  color: dimgrey;
  padding-top: 10px;
  /* border: 1px solid red; */
  font-weight: 300;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
}

.wrap_header {
   display: table;
 /*   max-width: 1024px; */
   min-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   max-height: 60px;
   background-color: white;
}

.header #query:focus {
	background-color: lightgray;
	color:black;
}

.headerlogo a::first-letter{
	font-size: 40px;
	color: red;
}
.headerlogo a {
   font-size: 25px;
   /* padding: 0 0 0 35px; */
   float: left;
   color: black;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   text-decoration: none;
  /*  margin-top: 8px; */
}
#a1:HOVER{
	text-decoration: none;
	color: red;
}

