@CHARSET "UTF-8";

@charset "utf-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block
}

audio, canvas, video {
	display: inline-block
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, button, canvas, caption, center, cite, code, dd, del,
	details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
	footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
	img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output,
	p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub,
	summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul,
	var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #3d3d3d
}

ol, ul {
	list-style: none
}

button {
	background: 0 0;
	cursor: pointer;
	outline: 0
}

a, a:active, a:hover, a:link, a:visited {
	text-decoration: none;
	font-size: 100%;
	color: inherit;
	font-weight: 400;
	vertical-align: middle;
	outline: 0
}

body a:hover {
	color: #00a2ff
}

a:hover * {
	color: #0366d7
}

fieldset {
	border: none
}

.hide {
	display: inline-block;
	text-indent: -99999px;
	width: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}


html {
	height: 100%;
	overflow: hidden
}

body {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 14px;
	color: #fff
}

#soribadaWrapper {
	width: 100%;
	height: 100%
}

#containers {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 72px;
	z-index: 10;
	background: #fff
}

#containers .hasPaddingContents {
	padding: 30px
}

#centerContainer {
	position: relative;
	margin: 0 220px 0 185px
}

#rightContainer {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 220px;
	background: #fff;
	z-index: 10000;
	border-left: 1px solid #e0e0e0
}

#centerContents {
	position: relative;
	height: 100%
}

#leftContents, #rightContents {
	position: relative;
	top: 0;
	left: 0
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	min-width: 1024px
}

#searchSection {
	position: absolute;
	top: 14px;
	left: 186px
}

#searchSection fieldset {
	margin-right: 55px
}

#searchSection legend {
	position: absolute;
	top: 0
}

#searchSection span {
	display: block;
	padding-left: 10px;
	background:
		url(//image.soribada.com/image/v27/main/header_sect_group_02.png) -1px
		-152px no-repeat
}

#searchSection input {
	display: inline-block;
	width: 337px;
	height: 26px;
	padding-right: 10px;
	border: none;
	font-size: 12px;
	color: #0f83e5;
	font-weight: 700;
	line-height: 30px;
	background:
		url(//image.soribada.com/image/v27/main/header_sect_group_02.png)
		right -124px no-repeat
}

#searchSection .searchBtn {
	position: absolute;
	top: 0;
	left: 350px;
	width: 52px;
	height: 28px;
	background:
		url(//image.soribada.com/image/v27/main/header_sect_group_02.png) -1px
		-38px no-repeat
}

#searchSection .searchBtn span {
	font-size: 0;
	line-height: 0;
	text-indent: -999em
}

#searchSection .suggestion {
	width: 355px;
	border: 1px solid #41a6ff;
	background: #fff;
	z-index: 9999
}

#searchSection .autoList {
	height: 24px;
	border: 1px solid #f3f8fc
}

#searchSection .inputKeyWord {
	color: #2a7dd2;
	background: 0 0;
	padding-right: 0
}

.
#soribadaWrapper {
	min-width: 1024px
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	min-width: 1024px;
	height: 56px;
	border-top: 1px solid #0067c4;
	border-bottom: 1px solid #278fe8;
	background: #400080;
	z-index: 100000
}

#leftContainer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	padding: 0 !important;
	background: ;
	z-index: 10000;
	border-right: 1px solid #e0e0e0
}

#containers {
	top: 58px
}

#centerContainer, #centerContents {
	min-width: 815px
}

#footer {
	height: 76px;
	background-color: #2d3e50
}

#player {
	position: relative;
	width: auto;
	height: 75px;
	border-top: 1px solid #e3e6e9;
	background-color: #f1f4f8;
	min-width: 1024px
}

#player .disable {
	pointer-events: none
}

#player-mp3Player {
	position: absolute;
	z-index: -2;
	left: -10px
}

#playerWrap {
	position: relative
}

#playerWrap #cover {
	position: absolute;
	top: -31px;
	left: 41px;
	width: 116px;
	height: 100px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-3px -3px no-repeat
}

#playerWrap #cover a {
	position: relative;
	margin: 4px 0 0 8px;
	display: block;
	width: 90px;
	height: 90px
}

#playerWrap #cover img {
	width: 90px;
	height: 90px
}

#playerWrap #cover .glow {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	
	-webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .5s ease-in-out;
  
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-125px -3px no-repeat
		
}

#playerWrap #cover .glow:hover {
	-webkit-transform: rotate(360deg);
  transform: rotate(360deg);
		
}

#playerWrap #cover .tag {
	display: block;
	position: absolute;
	top: -1px;
	left: -8px;
	width: 56px;
	height: 58px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-250px -7px no-repeat
}

#playerWrap #song-artist {
	position: absolute;
	left: 208px;
	top: 5px;
	width: 390px !important;
	text-align: left
}

#playerWrap #song-artist .info {
	overflow: hidden;
	height: 18px
}

#playerWrap #song-artist .info strong {
	font-size: 12px;
	line-height: 14px;
	color: #494a4a;
	font-weight: 700
}

#playerWrap #song-artist .info .pado_tit_wrap {
	display: inline;
	height: 18px;
	vertical-align: sub
}

#playerWrap #song-artist .info span {
	font-size: 12px;
	line-height: 14px;
	color: gray;
	font-weight: 700
}

#playerWrap #song-artist .info .slash {
	font-size: 11px;
	color: gray;
	font-weight: 400;
	position: relative;
	top: -1px
}

#playerWrap #song-artist .adult {
	position: relative;
	top: 2px;
	width: 13px;
	height: 13px;
	margin-right: 2px;
	display: inline-block;
	zoom: 1;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-376px -806px no-repeat;
	text-indent: -9999px;
	overflow: hidden
}

#playerWrap #song-artist .pado_player {
	position: relative;
	display: inline-block;
	top: 2px;
	width: 20px;
	height: 16px;
	margin-right: 2px;
	zoom: 1;
	vertical-align: middle;
	cursor: pointer;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-395px -806px no-repeat
}

#playerWrap #song-artist .pado_player:hover {
	background-position: -447px -806px
}

#playerWrap #song-artist .pado_player.dim2 {
	cursor: default;
	background-position: -422px -806px
}

#playerWrap #song-artist .pado_player.dim2:hover {
	background-position: -422px -806px
}

#playerWrap #progress {
	position: relative;
	margin: -2px 461px 0 208px;
	height: 17px;
	background-color: transparent;
	top: -14px;
	cursor: pointer
}

#playerWrap #progress .base {
	position: absolute;
	top: 7px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #d8d8d8
}

#playerWrap #progress #fill {
	position: absolute;
	left: 0;
	top: 7px;
	width: 0;
	height: 3px
}

#playerWrap #progress #fill .bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
	background-color: #00a2ff
}

#playerWrap #progress #handle {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-1px -776px no-repeat;
	cursor: pointer;
	pointer-events: visible
}

#playerWrap #progress #time {
	display: block;
	font-size: .95em;
	position: absolute;
	top: 2px;
	right: -89px;
	width: 80px
}

#playerWrap #progress #time:after {
	clear: both;
	display: block;
	content: ""
}

#playerWrap #progress #time .now {
	float: left;
	font-weight: 700
}

#playerWrap #progress #time .now, #playerWrap #progress #time .total {
	color: gray;
	font-size: 11px
}

#playerWrap #progress #time .now {
	color: #00a2ff
}

#playerWrap #progress #time .slash {
	color: silver;
	font-size: .95em
}

#playerWrap #controller {
	position: absolute;
	top: 15px;
	right: 43px;
	width: 118px;
	height: 44px;
	background-color: transparent;
	z-index: 10
}

#playerWrap #controller button {
	position: static;
	float: left;
	background-image:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png);
	background-repeat: no-repeat
}

#playerWrap #controller #prev {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 6px;
	width: 32px;
	height: 32px;
	z-index: 10;
	background-position: -41px -858px
}

#playerWrap #controller #prev:hover {
	background-position: -3px -858px;
	z-index: 110
}

#playerWrap #controller #prev.active {
	background-position: -3px -858px
}

#playerWrap #controller #next {
	position: absolute;
	top: 0;
	left: 86px;
	margin-top: 6px;
	width: 32px;
	height: 32px;
	z-index: 10;
	background-position: -317px -858px
}

#playerWrap #controller #next:hover {
	background-position: -279px -858px;
	z-index: 110
}

#playerWrap #controller #next.active {
	background-position: -279px -858px
}

#playerWrap #controller #play {
	position: absolute;
	top: 0;
	left: 37px;
	width: 44px;
	height: 44px;
	margin-top: 0;
	z-index: 50;
	background-position: -129px -858px
}

#playerWrap #controller #play:hover {
	background-position: -79px -858px;
	z-index: 200
}

#playerWrap #controller #play.pause {
	background-position: -229px -858px;
	z-index: 55
}

#playerWrap #controller #play.pause:hover {
	background-position: -229px -858px
}

#playerWrap #controller #loop {
	position: absolute;
	top: 10px;
	left: -29px;
	width: 24px;
	height: 24px;
	background-position: -427px -773px
}

#playerWrap #controller #loop.loop-on {
	background-position: -449px -773px
}

#playerWrap #controller #loop.loop-one {
	background-position: -475px -773px
}

#playerWrap #controller #shuffle {
	position: absolute;
	top: 10px;
	right: -29px;
	width: 24px;
	height: 24px;
	background-position: 1px -800px
}

#playerWrap #controller #shuffle.shuffle-on {
	background-position: -21px -800px
}

#playerWrap #volume {
	position: absolute;
	top: 15px;
	right: 332px;
	width: 24px;
	height: 26px
}

#playerWrap #volume .vol_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 26px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-42px -800px no-repeat;
	cursor: pointer
}

#playerWrap #volume .vol_btn.mute {
	background-position: -84px -800px
}

#playerWrap #volume .vol_btn.hover {
	background-position: -63px -800px
}

#playerWrap #volume .vol_btn.mute.hover {
	background-position: -105px -800px
}

#playerWrap #volume .volumeWrap {
	display: none;
	position: absolute;
	top: 1px;
	left: -4px;
	width: 150px;
	height: 22px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-24px -778px no-repeat
}

#playerWrap #volume .vol_base {
	position: absolute;
	top: 9px;
	left: 35px;
	width: 100px;
	height: 3px;
	background-color: #0793f2
}

#playerWrap #volume .vol_fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 3px;
	background-color: #04447a
}

#playerWrap #volume .vol_bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #04447a
}

#playerWrap #volume .vol_handle {
	position: absolute;
	top: -6px;
	left: 0;
	width: 15px;
	height: 15px;
	margin-left: -7px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-180px -778px no-repeat;
	cursor: pointer
}

#playerWrap #features {
	position: absolute;
	top: 15px;
	right: 244px;
	width: 82px;
	height: 24px
}

#playerWrap #features button {
	float: left;
	position: relative;
	width: 24px;
	height: 24px
}

#playerWrap #features #btn-lyrics, #playerWrap #features #down,
	#playerWrap #features #write-lyrics, #playerWrap #features button+button
	{
	margin-left: 4px
}

#playerWrap #features #pado {
	margin-left: 17px
}

#playerWrap #features #btn-lyrics {
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-274px -801px no-repeat
}

#playerWrap #features #btn-lyrics.active {
	background-position: -292px -801px
}

#playerWrap #features #btn-lyrics.dim, #playerWrap #features #btn-lyrics.dim:hover
	{
	background-position: -310px -801px
}

#playerWrap #features #btn-lyrics.write {
	background-position: -328px -803px
}

#playerWrap #features #btn-lyrics.write:hover {
	background-position: -349px -803px
}

#playerWrap #features #btn-lyrics:hover {
	background-position: -292px -801px
}

#playerWrap #features #favorite {
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-189px -802px no-repeat
}

#playerWrap #features #favorite.active, #playerWrap #features #favorite.active:hover
	{
	background-position: -210px -802px
}

#playerWrap #features #favorite.dim, #playerWrap #features #favorite.dim:hover
	{
	background-position: -232px -802px
}

#playerWrap #features #favorite:hover {
	background-position: -254px -802px
}

#playerWrap #features #down {
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-127px -802px no-repeat
}

#playerWrap #features #down.active {
	background-position: -148px -802px
}

#playerWrap #features #down.dim, #playerWrap #features #down.dim:hover {
	background-position: -169px -802px
}

#playerWrap #features #down:hover {
	background-position: -148px -802px
}

#playerWrap #features #mod-lyrics {
	display: none
}

#playerWrap #features #featuresTool {
	position: absolute;
	display: none;
	top: 0;
	left: 3px;
	z-index: 999
}

#playerWrap #features #featuresTool div {
	position: absolute;
	left: -41px;
	top: -41px;
	height: 45px;
	width: 100px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-59px -908px no-repeat;
	text-align: center;
	font-size: 11px;
	color: #0f83e5
}

#playerWrap #features #featuresTool div p {
	padding-top: 5px;
	color: #0f83e5;
	font-weight: 700;
	line-height: 14px
}

#playerWrap #infomation {
	position: relative;
	top: 39px;
	margin: 0 412px 0 206px;
	padding-top: 0;
	height: 36px
}

#playerWrap #infomation .info-cont {
	padding-top: 5px
}

#playerWrap #infomation .info-cont.info-lyrics {
	padding-top: 0
}

#playerWrap #infomation .info-cont strong {
	font-weight: 700
}

#playerWrap #infomation .info-cont .info {
	font-size: 12px;
	line-height: 18px
}

#playerWrap #infomation .info-cont .info strong {
	color: #000
}

#playerWrap #infomation .info-cont .info span {
	font-weight: 700;
	color: #5e5e5e
}

#playerWrap #infomation .info-cont .txt {
	font-size: 12px;
	line-height: 18px
}

#playerWrap #infomation .info-cont .txt strong {
	font-weight: 700;
	color: #078ad6
}

#playerWrap #infomation .info-cont .txt span {
	color: gray
}

#playerWrap #infomation .info-cont .txt button {
	display: inline-block;
	position: relative;
	top: 1px;
	width: 50px;
	height: 21px;
	margin-left: 5px;
	text-indent: -9999px;
	overflow: hidden;
	background-image:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png);
	background-repeat: no-repeat
}

#playerWrap #infomation .info-cont .txt button.login {
	background-position: -201px -778px
}

#playerWrap #infomation .info-cont .txt button.adult {
	background-position: -229px -907px
}

#playerWrap #infomation .info-cont .txt button.add {
	background-position: -313px -777px
}

#playerWrap #infomation .info-cont .txt button.edit {
	background-position: -257px -778px
}

#playerWrap #infomation .info-cont .btn.report {
	position: absolute;
	top: -18px;
	right: -202px;
	width: 25px;
	height: 15px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-369px -778px no-repeat;
	text-indent: -9999px;
	overflow: hidden
}

#playerWrap #infomation .info-cont .btn.report:hover {
	background-position: -400px -778px
}

#playerWrap #infomation .info-cont-type1 {
	padding-top: 5px
}

#playerWrap #infomation .info-cont .txt2 {
	font-size: 12px;
	line-height: 18px
}

#playerWrap #infomation .info-cont .txt2 strong {
	color: #00a2ff
}

#playerWrap #infomation .info-cont .txt2 span {
	color: gray
}

#playerWrap #infomation .info-cont .txt2 button {
	display: inline-block;
	height: 21px;
	margin-left: 10px;
	vertical-align: middle;
	line-height: 20px
}

#player .function {
	margin-left: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 221px;
	height: 75px;
	border: none;
	background-color: #e3e6e9
}

#player .function #list {
	position: absolute;
	top: 17px;
	right: 135px;
	width: 40px;
	height: 40px;
	overflow: visible;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-36px -953px no-repeat
}

#player .function #cart {
	position: absolute;
	top: 17px;
	right: 48px;
	width: 40px;
	height: 40px;
	overflow: visible;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-126px -954px no-repeat
}

#player .function #list:hover {
	background-position: -83px -953px
}

#player .function #cart:hover {
	background-position: -169px -954px
}

#player .function #cart-status, #player .function #cart-status02 {
	margin-top: -28px;
	position: absolute;
	left: 21px;
	top: 28px;
	z-index: 1000
}

#player .function #cart-status .num, #player .function #cart-status02 .num
	{
	font-family: Tahoma !important;
	font-size: 11px
}

.version7 #player .function #cart-status .num, .version7 #player .function #cart-status02 .num
	{
	line-height: 12px
}

#player-list {
	position: absolute;
	right: 0;
	width: 340px;
	background:
		url(http://image.soribada.com/image/v25/player_new/player_group_02.png)
		-2px -1px no-repeat;
	visibility: hidden;
	z-index: 100
}

#plist-header {
	margin: 2px 2px 0;
	width: auto
}

#plist-ctrl {
	position: relative;
	width: 100%;
	height: 38px;
	border-bottom: none
}

#plist-ctrl * {
	position: absolute;
	color: #929292;
	font-size: 13px
}

#plist-ctrl .title {
	pointer-events: none;
	top: 11px;
	left: 10px;
	font-weight: 700;
	color: #fff
}

#plist-ctrl .title .count {
	position: static;
	color: #ff0;
	font-family: Tahoma !important;
	font-weight: 700;
	font-size: 12px
}

#plist-ctrl button {
	top: 8px;
	background-color: transparent;
	background-image:
		url(http://image.soribada.com/image/v25/player_new/player_group_02.png);
	background-repeat: no-repeat
}

#plist-ctrl .expand {
	width: 20px;
	height: 20px;
	right: 32px;
	background-position: -3px -1707px
}

#plist-ctrl .expand-reverse {
	width: 20px;
	height: 20px;
	right: 32px;
	background-position: -33px -1707px
}

#plist-ctrl .hide {
	width: 20px;
	height: 20px;
	right: 9px;
	background-position: -63px -1707px
}

#plist-ctrl2 {
	position: relative;
	width: auto;
	height: 28px;
	margin: 0;
	display: block;
	zoom: 1;
	border-bottom: 1px #2d3e50 solid;
	background-color: #2d3e50
}

#plist-ctrl2 span {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	zoom: 1
}

#plist-ctrl2 * {
	vertical-align: middle
}

#plist-ctrl2 .plist-check-all {
	position: relative;
	top: 8px;
	left: 8px
}

#plist-ctrl2 button {
	position: absolute;
	top: 5px;
	overflow: hidden;
	color: #fff;
	background-image:
		url(http://image.soribada.com/image/v25/player_new/player_group_02.png);
	background-repeat: no-repeat
}

#plist-ctrl2 button span {
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	position: relative
}

#plist-ctrl2 .plist-del {
	left: 23px;
	width: 40px;
	height: 20px;
	font-size: .95em;
	background: 0 0
}

#plist-ctrl2 .plist-make {
	padding-left: 1px;
	left: 63px;
	width: 40px;
	height: 20px;
	font-size: .95em;
	background-position: -131px -1702px
}

#plist-ctrl2 .plist-down {
	padding-left: 1px;
	left: 103px;
	width: 40px;
	height: 20px;
	font-size: .95em;
	background-position: -131px -1702px
}

#plist-ctrl2 .plist-moveup {
	right: 9px;
	width: 23px;
	height: 20px;
	padding-left: 3px;
	background-position: -81px -1781px;
	text-indent: -9999px;
	overflow: hidden
}

#plist-ctrl2 .plist-movedown {
	right: 32px;
	width: 20px;
	height: 20px;
	background-position: -100px -1781px;
	text-indent: -9999px;
	overflow: hidden
}

#plist-ctrl2 .plist-moveup:hover {
	background-position: -81px -1801px
}

#plist-ctrl2 .plist-movedown:hover {
	background-position: -100px -1801px
}

#plist-body {
	position: relative;
	margin: 0 2px;
	width: auto;
	border: none;
	border-bottom: none
}

#plist-body-list {
	position: relative;
	width: auto;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden
}

#plist-body-none {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -120px;
	text-align: center
}

#plist-body-none p {
	color: #888;
	line-height: 18px
}

#plist-body-none p strong {
	display: block;
	font-weight: 700;
	color: #333
}

#plist-body-none button {
	margin-top: 16px
}

#plist-body-none button.btn-top100 {
	display: block;
	width: 113px;
	height: 24px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_02.png)
		-2px -1915px no-repeat;
	margin: 5px auto;
	text-indent: -9999px;
	overflow: hidden
}

#plist-ender {
	position: absolute;
	bottom: -13px;
	left: 0;
	width: 100%;
	height: 14px;
	background:
		url(http://image.soribada.com/image/v25/player_new/player_group_02.png)
		-2px -1187px no-repeat
}

#plist-body-list #player-list-item {
	position: relative;
	height: 49px;
	border-bottom: 1px #d6d6d6 solid
}

#player-list-item input[type=checkbox], .player-list-item .plist-check {
	margin: 0;
	position: absolute;
	top: 18px;
	left: 8px
}

#player-list-item .info {
	position: relative;
	top: auto;
	left: auto;
	cursor: pointer;
	padding-top: 9px;
	margin: 0 60px 0 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#player-list-item .info .title {
	position: static;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	color: #333;
	display: inline;
	zoom: 1
}

#player-list-item .info .title.overflow {
	width: 140px
}

#player-list-item .info .singer {
	display: inline-block !important;
	position: static;
	top: 20px;
	left: 0;
	width: 230px;
	padding-top: 2px;
	font-size: 12px;
	color: #888;
	zoom: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#player-list-item .adult {
	position: relative;
	top: 2px;
	width: 13px;
	height: 13px;
	margin-right: 2px;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-376px -806px no-repeat;
	display: inline-block;
	zoom: 1
}

#player-list-item:hover {
	height: 48px !important;
	background: #f2f2f2;
	border-top: 1px #d6d6d6 solid
}

#player-list-item:hover input[type=checkbox], .player-list-item:hover .plist-check
	{
	top: 17px
}

#player-list-item:hover .info {
	padding-top: 8px
}

#player-list-item:hover .pado {
	background-position: -80px -1852px
}

#player-list-item:hover #pado.dim {
	background-position: -141px -1852px
}

#player-list-item:hover .down {
	background-position: -23px -1848px
}

#player-list-item button {
	position: absolute;
	right: 0;
	top: 50%;
	width: 29px;
	height: 48px;
	margin-top: -24px;
	background-image:
		url(http://image.soribada.com/image/v25/player_new/player_group_02.png);
	background-repeat: no-repeat
}

#player-list-item .pado {
	right: 29px;
	background-position: -80px -1852px
}

#player-list-item .pado:hover {
	background-position: -111px -1852px
}

#player-list-item #pado.dim {
	right: 29px;
	background-position: -141px -1852px
}

#player-list-item #pado.dim:hover {
	background-position: -141px -1852px;
	background-color: transparent
}

#player-list-item .down {
	right: 0;
	background-position: -23px -1848px
}

#player-list-item .down:hover {
	background-position: 5px -1848px
}

#player-list-item.check {
	background: #e7e6e6;
	border-top: 1px #d6d6d6 solid;
	height: 48px !important
}

#player-list-item.check input[type=checkbox], .player-list-item:hover .plist-check
	{
	top: 18px
}

#player-list-item.check .info {
	padding-top: 8px
}

#player-list-item.ing {
	background: #00a2ff;
	border: none !important
}

#player-list-item.ing .info {
	color: #FFF
}

#player-list-item.ing .info .title {
	padding-right: 20px;
	display: inline-block;
	width: auto;
	max-width: 180px;
	color: #FFF;
	background:
		url(//image.soribada.com/image/v25/player/bg_player_play.gif) right
		-2px no-repeat
}

#player-list-item.ing.pause .info .title {
	background-image:
		url(//image.soribada.com/image/v25/player/bg_player_play_stop.gif)
}

#player-list-item.ing .info .singer {
	padding-top: 0;
	color: #FFF
}

#player-list-item.ing .adult {
	top: -3px
}

#player-list-item.ing .pado {
	background-color: #04447a;
	background-position: -171px -1852px;
	margin-top: -25px
}

#player-list-item.ing #pado.dim {
	background: #04447a;
	margin-top: -25px
}

#player-list-item.ing .down {
	background-color: #04447a;
	background-position: -52px -1848px;
	margin-top: -25px
}

#player-list-item.ing:hover {
	height: 49px !important;
	background: #00a2ff;
	border: none !important
}

#player-list-item.ing:hover input[type=checkbox], .player-list-item:hover .plist-check
	{
	top: 18px
}

#player-list-item.ing:hover .info {
	padding-top: 9px
}

#player-list-item.ing .pado:hover {
	background-position: -111px -1852px
}

#player-list-item.ing .down:hover {
	background-position: 5px -1848px
}

#player-list-item.check.ing, #player-list-item.check.ing:hover {
	height: 49px !important;
	border: none !important
}

#player-list-item.check.ing .info {
	padding-top: 9px
}

#player-list-item.check.ing input[type=checkbox], .player-list-item:hover .plist-check
	{
	top: 18px
}

#player-list-item.dim {
	opacity: .3
}

#playerWrap #timeTool {
	position: absolute;
	z-index: 10;
	left: 0;
	top: -4px;
	width: 50px;
	height: 28px;
	font-weight: 700;
	font-size: 12px;
	font-family: tahoma !important;
	padding-top: 4px;
	color: #0f83e5;
	background:
		url(//image.soribada.com/image/v25/player_new/player_group_01.png)
		-3px -908px no-repeat;
	text-align: center
}

